# SMB connection for geodata upload
# Edit these values before running 'make upload-geodata'
SMB_SERVER=enac-nas1.rcp.epfl.ch
SMB_SHARE=fts-enac-it/urbes-viz.epfl.ch
SMB_USER=your-epfl-username
SMB_MOUNT_POINT=/tmp/urbes-smb-mount
