node_modules
processing/**/*.csv
processing/**/*.json
processing/**/*.geojson
processing/**/*.shp
processing/**/*.dbf
processing/**/*.prj
processing/**/*.mbtiles
processing/**/*.tif
processing/**/*.tfw

processing/**/*.nc
processing/**/wrfout_*
processing/**/*.xml

.env
.venv/
CLAUDE.md

# GDAL documentation files (local reference only)
*.rst
